.nav {
  max-width: 1920px;
  min-width: 1024px;
}
#wrapper {
  position: relative;
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
#globalNav {
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 999;
  opacity: 1;
}
#globalNav li {
  margin-bottom: 20px;
  font-size: 20px;
}
#globalNav a {
  display: block;
  position: relative;
  background-color: #fff;
}
#globalNav a div {
  width: 0;
  transition: 1s;
  position: absolute;
  right: -50px;
  font-size: 12px;
  color: white;
  display: none;
}
#globalNav a div span {
  transition: width 0.4s ease;
  position: relative;
  top: -8px;
  padding: 0 10px;
  background-color: #000;
}
#globalNav a:before {
  border: 1px solid #fff;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
}
#globalNav a:hover:before {
  background-color: #000;
}
#globalNav a.active:before {
  background-color: #000;
}
#globalNav a:hover div {
  display: block;
  width: 150px;
  border-radius: 10px;
}
.supermario-box {
  position: relative;
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.supermario-box .nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}
.supermario-box .nav .navTop {
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, #232323 0, #000000 49%, #232323 50%, #000000 100%);
  border-bottom: 2px solid #404040;
}
.supermario-box .nav .navTop ul {
  height: 30px;
  display: flex;
  justify-content: center;
}
.supermario-box .nav .navTop ul li {
  transform: skew(-15deg);
  border-left: 2px solid #696969;
}
.supermario-box .nav .navTop ul li a {
  display: block;
  padding: 0 15px 0;
  text-align: center;
  color: #fff;
  line-height: 30px;
}
.supermario-box .nav .navTop ul li a i {
  transform: skew(15deg);
  margin-top: 2px;
  margin-right: 5px;
  float: left;
  display: block;
  width: 22px;
  height: 26px;
  background: url(../img/img_item-sprite.png) -59px -84px;
  background-size: 167px 111px;
}
.supermario-box .nav .navTop ul li a:hover {
  background: linear-gradient(to top, #FE186D 0, #F9609C 49%, #F966A0 50%, #FF0A64 100%);
}
.supermario-box .nav .navTop ul li:nth-child(6) {
  border-right: 2px solid #696969;
}
.supermario-box .nav .navBottom {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #ca179b, #4d22d6);
}
.supermario-box #container {
  height: 100%;
  position: relative;
}
.supermario-box #container #MainVisual {
  min-height: 660px;
  height: 140vh;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.supermario-box #container #MainVisual #mvInner {
  transition: top 1.4s cubic-bezier(0.86, 0, 0.07, 1);
  background: url(../img/bg_mv.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 660px;
  height: 100%;
  overflow: hidden;
}
.supermario-box #container #MainVisual #mvInner .obj {
  position: fixed;
  display: none;
}
.supermario-box #container #MainVisual #mvInner .obj img {
  transform-origin: 0 50%;
}
.supermario-box #container #MainVisual #mvInner .obj1 {
  transform: translate(0, -47%);
  top: 50%;
  left: 54%;
  z-index: 6;
}
.supermario-box #container #MainVisual #mvInner .obj2 {
  transform: translate(0, -100%);
  top: 50%;
  left: 66%;
  z-index: 5;
}
.supermario-box #container #MainVisual #mvInner .obj3 {
  transform: translate(0, -21%);
  top: 50%;
  left: 47%;
  z-index: 4;
}
.supermario-box #container #MainVisual #mvInner .obj4 {
  transform: translate(-100%, -100%);
  top: 27%;
  left: 50%;
  z-index: 3;
}
.supermario-box #container #MainVisual #mvInner .obj5 {
  top: 9%;
  left: 8%;
  z-index: 3;
}
.supermario-box #container #MainVisual #mvInner .logo {
  position: fixed;
  top: 50%;
  margin: -116px 0 0 30px;
  z-index: 10;
}
.supermario-box #container #MainVisual #mvInner .package {
  position: fixed;
  bottom: 30px;
  margin-left: 35px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px;
  border-radius: 10px;
  padding-bottom: 20px;
  display: flex;
}
.supermario-box #container #MainVisual #mvInner .package .img img {
  height: 100px;
}
.supermario-box #container #MainVisual #mvInner .package .other .movie {
  position: relative;
}
.supermario-box #container #MainVisual #mvInner .package .other .movie a::after {
  background: url(../img/ic_play.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 19px;
  left: 50%;
  margin-left: -16px;
}
.supermario-box #mkOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  z-index: 999999;
  overflow: auto;
  background-color: rgba(35, 35, 35, 0.8);
  display: none;
}
.supermario-box #mkOverlay #btnOvClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 100;
}
.supermario-box #mkOverlay #btnOvClose a {
  background: url(../img/btn_close.png) no-repeat 17px 17px;
  background-color: #ff0a64;
  display: block;
  border-radius: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.supermario-box #mkOverlay #ovContainer #movieModal {
  background: url(../img/bg_movie.png) no-repeat 100% 100%, url(../img/logo.png) no-repeat 50% 50%;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 700px;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask {
  transform: translateY(-50%);
  transition: width 0.4s ease, height 0.4s ease;
  width: 0;
  height: 100%;
  position: relative;
  top: 50%;
  margin: 0 auto;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #mainMovie {
  width: 920px;
  height: 520px;
  margin-bottom: 20px;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb {
  text-align: center;
  display: flex;
  justify-content: center;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb li {
  margin: 0 16px;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb li a {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb li a img {
  display: inline-block;
  margin-bottom: 10px;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb li a span {
  display: block;
  line-height: 150%;
}
.supermario-box #mkOverlay #ovContainer #movieModal .mask #movieContainer #movThumb li a::after {
  transition: transform 0.2s ease;
  background: url(../img/ic_play.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -16px;
}
.temp-box {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 90;
  height: 6000px;
  background-color: skyblue;
}
@keyframes jump {
  from {
    bottom: -2px;
  }
  to {
    bottom: 30px;
  }
}
section.partOne {
  position: relative;
  height: 700px;
  background: url(../img/bg_page-gray.png) repeat 0 0 fixed;
  padding-bottom: 600px;
  padding-top: 200px;
}
#lbt1 .img_line {
  top: -150px;
  margin-top: -8%;
  transform: translate(-50%, 0) rotate(7deg);
  position: relative;
  left: 50%;
  width: 150%;
}
#lbt1 .img_line .chara_set {
  transform: translateX(-52%);
  width: 70%;
  position: absolute;
  top: -150px;
  left: 50%;
  height: 150px;
  /* z-index: 1; */
}
#lbt1 .img_line .chara_set .ld_chara {
  position: absolute;
  right: 100%;
  bottom: -2px;
  width: 120px;
  height: 119px;
  transform-style: preserve-3d;
}
#lbt1 .img_line .chara_set .ld_chara a {
  position: relative;
  background: url("../images/lunbotu-img/img_sfc-chara.png") no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
#lbt1 .img_line .chara_set .ld_chara a:hover {
  animation: jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#lbt1 .img_line .chara_set .chara1 a {
  background-position: -123px -361px;
}
#lbt1 .img_line .chara_set .chara2 a {
  background-position: -480px -361px;
}
#lbt1 .img_line .chara_set .chara3 a {
  background-position: -480px -242px;
}
#lbt1 .img_line .chara_set .chara4 a {
  background-position: 0px -361px;
}
#lbt1 .img_line .chara_set .chara5 a {
  background-position: -120px -481px;
}
#lbt1 .img_line .chara_set .chara8 a {
  background-position: -240px -481px;
}
#lbt1 .img_line .chara_set .chara9 a {
  background-position: 0px -481px;
}
#lbt1 .img_line .chara_set .chara10 a {
  background-position: -362px -361px;
}
#lbt1 .img_line .box_lbt {
  width: 5256px;
  position: absolute;
  /* transform: translate(-2628px, 0px); */
  left: 0;
  top: 0;
}
#lbt1 .img_line .box_lbt ul {
  width: 2628px;
  height: 370px;
  float: left;
  /* position: absolute; */
  overflow: hidden;
}
#lbt1 .img_line .box_lbt li {
  width: 657px;
  overflow: hidden;
  float: left;
}
#lbt1 .img_line .box_lbt li img {
  min-width: 100%;
}
/* 轮播图一结束 */
.temp-box {
  height: 100%;
}
.temp-box section.partOne .content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
  max-width: 1280px;
  margin: 0 auto;
}
.temp-box section.partOne .content .img1 {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -633px;
  z-index: 10;
  display: none;
}
.temp-box section.partOne .content .img2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -139px;
  display: none;
}
.temp-box section.partOne .txtContent {
  text-align: center;
  display: none;
}
section.partTwo {
  padding-top: 10px;
  height: 700px;
  background: url(../img/bg_page-black.png) repeat 0 0 fixed;
  position: relative;
  z-index: 100;
  padding-bottom: 1200px;
}
#lbt2 .img_line {
  margin-top: -9%;
  transform: translate(-50%, 0) rotate(-7deg);
  position: relative;
  left: 50%;
  width: 150%;
  z-index: 200;
  padding-bottom: 200px;
}
#lbt2 .img_line .chara_set {
  transform: translateX(-47%);
  width: 70%;
  position: absolute;
  top: -150px;
  left: 50%;
  height: 150px;
  /* z-index: 1; */
}
#lbt2 .img_line .chara_set .ld_chara {
  position: absolute;
  left: 100%;
  bottom: -2px;
  width: 120px;
  height: 119px;
}
#lbt2 .img_line .chara_set .ld_chara a {
  position: relative;
  background: url("../images/lunbotu-img/img_sfc-chara.png") no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
#lbt2 .img_line .chara_set .ld_chara a:hover {
  animation: jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#lbt2 .img_line .chara_set .chara1 a {
  background-position: 0px -3px;
}
#lbt2 .img_line .chara_set .chara2 a {
  background-position: -120px -3px;
}
#lbt2 .img_line .chara_set .chara3 a {
  background-position: -240px -3px;
}
#lbt2 .img_line .chara_set .chara4 a {
  background-position: -360px -3px;
}
#lbt2 .img_line .chara_set .chara5 a {
  background-position: -480px -3px;
}
#lbt2 .img_line .chara_set .chara8 a {
  background-position: -359px -123px;
}
#lbt2 .img_line .chara_set .chara9 a {
  background-position: -119px -123px;
}
#lbt2 .img_line .chara_set .chara10 a {
  background-position: 0px -123px;
}
#lbt2 .img_line .box_lbt {
  width: 5256px;
  position: absolute;
  right: 0;
  top: 0;
}
#lbt2 .img_line .box_lbt ul {
  width: 2628px;
  height: 370px;
  float: right;
  /* position: absolute; */
  overflow: hidden;
}
#lbt2 .img_line .box_lbt li {
  width: 657px;
  overflow: hidden;
  float: left;
}
#lbt2 .img_line .box_lbt li img {
  min-width: 100%;
}
#character {
  margin: 0 auto;
  background: url(../img/bg_page-black.png) repeat 0 0 fixed;
  position: relative;
  z-index: 199;
  display: block;
}
section.partTwo .scene_chara {
  position: relative;
  width: 100%;
  z-index: 210;
  max-width: 1280px;
  margin: 0 auto;
}
section.partTwo .scene_chara {
  height: 445px;
  margin-bottom: 50px;
}
section.partTwo .scene_chara .sc {
  position: absolute;
}
section.partTwo .scene_chara .sc1 {
  top: -130px;
  right: -360px;
  opacity: 0;
}
section.partTwo .scene_chara .sc1:before {
  animation: rotation 30s linear infinite;
  background: url(../img/img_link-cup.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 462px;
  height: 462px;
  position: absolute;
  top: 110px;
  left: 430px;
  z-index: -1;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section.partTwo .scene_chara .sc1 {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(100px, -30px);
}
section.partTwo scene_chara .sc1:before {
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}
section.partTwo .scene_chara.action .sc1 {
  transform: translate(0, 0);
  opacity: 1;
}
section.partTwo .scene_chara.action .sc1:before {
  opacity: 1;
}
#character .content {
  padding: 50px 0 300px 0;
  position: relative;
  z-index: 10;
  text-align: center;
}
.separator .content .inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
#character .content h2 {
  margin-bottom: 70px;
  text-align: left;
  font-size: 100%;
  line-height: 100%;
  font-weight: normal;
  display: block;
}
#character .content .inner .label {
  position: absolute;
  top: -75px;
  right: 0;
}
img {
  line-height: 100%;
  vertical-align: bottom;
  border: 0;
}
#character .content #charaList {
  list-style: none;
  margin-right: -20px;
  zoom: 1;
  display: block;
  font-size: 62.5%;
  line-height: 100%;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
#character .content #charaList li {
  margin: 0 12px 20px 12px;
  float: left;
  position: relative;
}
#character .content #charaList li a {
  text-decoration: none;
  background-image: url(../img/img_chara-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 124px;
  height: 123px;
  position: relative;
  text-indent: -9999px;
}
#character .content #charaList li a:after {
  transition: opacity 0s;
  background-image: url(../img/bg_cursor_1.png), url(../img/bg_cursor_2.png), url(../img/bg_cursor_3.png), url(../img/bg_cursor_4.png);
  background-repeat: no-repeat;
  background-position: 10% 10%, 90% 10%, 10% 90%, 90% 90%;
  content: '';
  display: block;
  width: 148px;
  height: 148px;
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0;
}
#character .content #charaList li a:hover:after {
  animation: cursor 0.3s ease infinite alternate;
  opacity: 1;
}
@keyframes cursor {
  from {
    background-position: 10% 10%, 90% 10%, 10% 90%, 90% 90%;
  }
  to {
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  }
}
section.partThree {
  height: 700px;
  background: url(../img/bg_page-gray.png) repeat 0 0 fixed;
  padding-top: 500px;
  position: relative;
  z-index: 300;
  padding-bottom: 2200px;
}
section.partThree .scene_chara {
  height: 480px;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;
  right: 400px;
}
section.partThree .scene_chara .sc {
  opacity: 0;
  right: 30%;
}
section.partThree .sc:before {
  animation: rotation 30s linear infinite;
  background: url(../img/img_shizue-cup.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 462px;
  height: 462px;
  position: absolute;
  top: 65px;
  left: -120px;
}
#lbt3 .img_line {
  margin-top: -650px;
  transform: translate(-50%, 0) rotate(7deg);
  position: relative;
  left: 50%;
  width: 150%;
  padding-bottom: 700px;
}
#lbt3 .img_line .chara_set {
  transform: translateX(-52%);
  width: 70%;
  position: absolute;
  top: -150px;
  left: 50%;
  height: 150px;
}
#lbt3 .img_line .chara_set .ld_chara {
  position: absolute;
  right: 100%;
  bottom: -2px;
  width: 120px;
  height: 119px;
  transform-style: preserve-3d;
}
#lbt3 .img_line .chara_set .ld_chara a {
  position: relative;
  background: url("../images/lunbotu-img/img_sfc-chara.png") no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
#lbt3 .img_line .chara_set .ld_chara a:hover {
  animation: jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#lbt3 .img_line .chara_set .chara1 a {
  background-position: -123px -1px;
}
#lbt3 .img_line .chara_set .chara2 a {
  background-position: -123px -121px;
}
#lbt3 .img_line .chara_set .chara3 a {
  background-position: -243px -121px;
}
#lbt3 .img_line .chara_set .chara4 a {
  background-position: 0px -121px;
}
#lbt3 .img_line .chara_set .chara5 a {
  background-position: -239px -121px;
}
#lbt3 .img_line .chara_set .chara8 a {
  background-position: -359px -121px;
}
#lbt3 .img_line .chara_set .chara9 a {
  background-position: -359px -241px;
}
#lbt3 .img_line .chara_set .chara10 a {
  background-position: -480px -481px;
}
#lbt3 .img_line .box_lbt {
  width: 5256px;
  position: absolute;
  /* transform: translate(-2628px, 0px); */
  left: 0;
  top: 0;
}
#lbt3 .img_line .box_lbt ul {
  width: 2628px;
  height: 370px;
  float: left;
  /* position: absolute; */
  overflow: hidden;
}
#lbt3 .img_line .box_lbt li {
  width: 657px;
  overflow: hidden;
  float: left;
}
#lbt3 .img_line .box_lbt li img {
  min-width: 100%;
}
section.partFour {
  padding-top: 400px;
  padding-bottom: 800px;
  height: 700px;
  background: url(../img/bg_page-illust.jpg) repeat 0 0 fixed;
  position: relative;
  z-index: 400;
}
#lbt4 .img_line {
  margin-bottom: 300px;
  margin-top: -540px;
  transform: translate(-50%, 0) rotate(-7deg);
  position: relative;
  left: 50%;
  width: 150%;
  z-index: 400;
}
#lbt4 .img_line .chara_set {
  transform: translateX(-47%);
  width: 70%;
  position: absolute;
  top: -150px;
  left: 50%;
  height: 150px;
  /* z-index: 1; */
}
#lbt4 .img_line .chara_set .ld_chara {
  position: absolute;
  left: 100%;
  bottom: -2px;
  width: 120px;
  height: 119px;
}
#lbt4 .img_line .chara_set .ld_chara a {
  position: relative;
  background: url("../images/lunbotu-img/img_sfc-chara.png") no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
#lbt4 .img_line .chara_set .ld_chara a:hover {
  animation: jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#lbt4 .img_line .chara_set .chara1 a {
  background-position: 0px -242px;
}
#lbt4 .img_line .chara_set .chara2 a {
  background-position: -120px -242px;
}
#lbt4 .img_line .chara_set .chara3 a {
  background-position: -480px -121px;
}
#lbt4 .img_line .chara_set .chara4 a {
  background-position: -240px -242px;
}
#lbt4 .img_line .chara_set .chara5 a {
  background-position: -360px -242px;
}
#lbt4 .img_line .chara_set .chara8 a {
  background-position: -480px -242px;
}
#lbt4 .img_line .chara_set .chara9 a {
  background-position: 0px -361px;
}
#lbt4 .img_line .chara_set .chara10 a {
  background-position: -120px -361px;
}
#lbt4 .img_line .box_lbt {
  width: 5256px;
  position: absolute;
  right: 0;
  top: 0;
}
#lbt4 .img_line .box_lbt ul {
  width: 2628px;
  height: 370px;
  float: right;
  /* position: absolute; */
  overflow: hidden;
}
#lbt4 .img_line .box_lbt li {
  width: 657px;
  overflow: hidden;
  float: left;
}
#lbt4 .img_line .box_lbt li img {
  min-width: 100%;
}
section.partFour #item {
  background: url(../img/bg_page-illust.jpg) repeat 0 0 fixed;
  position: relative;
  display: block;
}
section.partFour .scene_chara {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 480px;
  margin-bottom: 50px;
  z-index: 410;
  position: relative;
}
section.partFour .scene_chara .sc {
  position: absolute;
  z-index: 410;
}
section.partFour .scene_chara .sc1 {
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
}
section.partFour .scene_chara .sc1:before {
  animation: rotation 30s linear infinite;
  background: url(../img/img_baby-rosetta-cup.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 460px;
  height: 460px;
  position: absolute;
  top: 8px;
  right: -180px;
  z-index: -1;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section.partFour #item .scene_chara .sc1 {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(100px, -30px);
}
section.partFour #item .scene_chara .sc1:before {
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}
section.partFour #item .scene_chara.action .sc1 {
  transform: translate(0, 0);
  opacity: 1;
}
section.partFour #item .scene_chara.action .sc1:before {
  opacity: 1;
}
section.partFour #item .content {
  padding: 50px 0 300px 0;
  position: relative;
  z-index: 10;
  text-align: center;
}
section.partFour .separator .content .inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
section.partFour #item .content h2 {
  margin-bottom: 70px;
  text-align: left;
  font-size: 100%;
  line-height: 100%;
  font-weight: normal;
  display: block;
}
section.partFour #item .content .inner .label {
  position: absolute;
  top: -75px;
  right: 0;
}
section.partFour img {
  line-height: 100%;
  vertical-align: bottom;
  border: 0;
}
section.partFour #item .content #charaList2 {
  list-style: none;
  margin-right: -20px;
  zoom: 1;
  display: block;
  font-size: 62.5%;
  line-height: 100%;
}
section.partFour .cf:before,
section.partFour .cf:after {
  content: "";
  display: table;
}
section.partFour .cf:after {
  clear: both;
}
section.partFour #item .content #charaList2 li {
  margin: 0 10px 20px 10px;
  float: left;
  position: relative;
}
section.partFour #item .content #charaList2 li a {
  text-decoration: none;
  background-image: url(../img/img_item-sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 147px;
  height: 148px;
  position: relative;
  text-indent: -9999px;
}
section.partFour #item .content #charaList2 li a:after {
  transition: opacity 0s;
  background-image: url(../img/bg_cursor_1.png), url(../img/bg_cursor_2.png), url(../img/bg_cursor_3.png), url(../img/bg_cursor_4.png);
  background-repeat: no-repeat;
  background-position: 10% 10%, 90% 10%, 10% 90%, 90% 90%;
  content: '';
  display: block;
  width: 172px;
  height: 172px;
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0;
}
section.partFour #item .content #charaList2 li a:hover:after {
  animation: cursor 0.3s ease infinite alternate;
  opacity: 1;
}
@keyframes cursor {
  from {
    background-position: 10% 10%, 90% 10%, 10% 90%, 90% 90%;
  }
  to {
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  }
}
section.partFive {
  height: 700px;
  background: url(../img/bg_page-illust2.jpg) repeat 0 0 fixed;
  padding-top: 20px;
  position: relative;
  z-index: 600;
  padding-bottom: 1313px;
}
#lbt5 .img_line {
  margin-top: -150px;
  transform: translate(-50%, 0) rotate(7deg);
  position: relative;
  left: 50%;
  width: 150%;
  padding-bottom: 200px;
}
#lbt5 .img_line .chara_set {
  transform: translateX(-52%);
  width: 70%;
  position: absolute;
  top: -150px;
  left: 50%;
  height: 150px;
  /* z-index: 1; */
}
#lbt5 .img_line .chara_set .ld_chara {
  position: absolute;
  right: 100%;
  bottom: -2px;
  width: 120px;
  height: 119px;
  transform-style: preserve-3d;
}
#lbt5 .img_line .chara_set .ld_chara a {
  position: relative;
  background: url("../images/lunbotu-img/img_sfc-chara.png") no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
#lbt5 .img_line .chara_set .ld_chara a:hover {
  animation: jump 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#lbt5 .img_line .chara_set .chara1 a {
  background-position: -360px -361px;
}
#lbt5 .img_line .chara_set .chara2 a {
  background-position: -120px -481px;
}
#lbt5 .img_line .chara_set .chara3 a {
  background-position: -240px -481px;
}
#lbt5 .img_line .chara_set .chara4 a {
  background-position: -120px -241px;
}
#lbt5 .img_line .chara_set .chara5 a {
  background-position: -240px -241px;
}
#lbt5 .img_line .chara_set .chara8 a {
  background-position: -240px -361px;
}
#lbt5 .img_line .chara_set .chara9 a {
  background-position: -480px -241px;
}
#lbt5 .img_line .chara_set .chara10 a {
  background-position: -360px -481px;
}
#lbt5 .img_line .box_lbt {
  width: 5256px;
  position: absolute;
  /* transform: translate(-2628px, 0px); */
  left: 0;
  top: 0;
}
#lbt5 .img_line .box_lbt ul {
  width: 2628px;
  height: 370px;
  float: left;
  /* position: absolute; */
  overflow: hidden;
}
#lbt5 .img_line .box_lbt li {
  width: 657px;
  overflow: hidden;
  float: left;
}
#lbt5 .img_line .box_lbt li img {
  min-width: 100%;
}
section.partFive .scene_chara {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  max-width: 1280px;
  margin: 0 auto;
  height: 450px;
  margin-bottom: 25px;
  opacity: 0;
}
section.partFive .scene_chara .sc1 {
  position: absolute;
  bottom: 0;
  left: 25px;
  z-index: 10;
}
section.partFive .scene_chara .sc1:before {
  animation: rotation 30s linear infinite;
  background: url(../img/img_baby-mario-cup.png) no-repeat 0 0;
  content: '';
  display: block;
  width: 460px;
  height: 460px;
  position: absolute;
  top: -45px;
  left: -190px;
  z-index: 700;
}
section.partFive .scene_chara .sc2 {
  position: absolute;
  left: 416px;
  bottom: 75px;
}
.racingTrack {
  padding: 50px 0 450px 0;
}
.inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
.racingTrack h2 {
  text-align: left;
  margin: 0 0 70px 0;
}
img {
  line-height: 100%;
  vertical-align: bottom;
}
.racingTrack .label {
  position: absolute;
  top: -35px;
  right: 0;
}
.racingTrack #courseList {
  margin-bottom: 90px;
}
.racingTrack #courseList dl {
  margin-bottom: 30px;
  /* margin-left: 105px; */
}
.racingTrack #courseList dt {
  width: 106px;
  height: 123px;
  text-indent: -9999px;
  background-image: url(../img/img_cup-sprite.png);
  background-repeat: no-repeat;
  position: relative;
}
.racingTrack #courseList dd {
  margin: -123px 0 0 126px;
  overflow: hidden;
}
dl.action dd {
  width: 100%;
}
.racingTrack #courseList dd ul {
  float: left;
  width: 1024px;
}
.racingTrack #courseList dd ul li {
  float: left;
}
.racingTrack #courseList dd a {
  display: block;
  padding-right: 10px;
}
.racingTrack #courseList dd a img {
  line-height: 100%;
  vertical-align: bottom;
  width: 217px;
  height: 122px;
}
.cup02 dt {
  background-position: -106px 0px;
}
.cup03 dt {
  background-position: -212px 0px;
}
.cup04 dt {
  background-position: -318px 0px;
}
.cup05 dt {
  background-position: 0px -124px;
}
.cup06 dt {
  background-position: -106px -124px;
}
.cup07 dt {
  background-position: -212px -124px;
}
.cup08 dt {
  background-position: -318px -124px;
}
.cup09 dt {
  background-position: 0px -248px;
}
.cup10 dt {
  background-position: -106px -248px;
}
.cup11 dt {
  background-position: -212px -248px;
}
.cup12 dt {
  background-position: -318px -248px;
}
.racingTrack #courseOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.racingTrack #courseOption dl:nth-child(1) {
  margin-right: 14px;
}
.racingTrack #courseOption .notice {
  position: absolute;
  right: -10px;
  top: 160px;
}
#battleStage h3 {
  text-align: center;
  margin-bottom: 30px;
}
#battleStage p {
  margin-bottom: 40px;
  text-align: center;
}
#stageWrap {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 800px;
}
#stageWrap .cf {
  width: 8000px;
  position: relative;
}
#stageWrap .cf li {
  float: left;
  position: relative;
  width: 400px;
  height: 450px;
  overflow: visible;
}
#stageWrap .cf li span {
  transform: skew(-10deg) translateX(-50%);
  transform-origin: 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 450px;
  width: 400px;
  overflow: hidden;
}
#stageWrap .cf li span img {
  transform: skew(10deg) translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
}
footer {
  position: relative;
  width: 100%;
  min-width: 960px;
  height: 30px;
  overflow: hidden;
  background: #e80002;
  font-size: 1.3rem;
  line-height: 100%;
  z-index: 99;
}
footer a {
  transition: opacity 0.2s ease;
  background: url(../img/ic_arrow-x.png) no-repeat 0 50%;
  padding-left: 12px;
  display: inline-block;
  margin: 0 20px 0 10px;
  color: #fff;
  line-height: 32px;
  height: 30px;
  text-decoration: none;
}
